@media screen and (min-width: 700px) {
    .connect p {
        font-size: 28px;
    }
}

@media screen and (min-width: 600px) and (max-width: 699px) {
    .connect p {
        font-size: 25px;
    }
}

@media screen and (min-width: 500px) and (max-width: 599px) {
    .connect p {
        font-size: 21px;
    }
}

@media screen and (min-width: 300px) and (max-width: 499px) {
    .connect p {
        font-size: 14px;
    }
}